.elementor-16197 .elementor-element.elementor-element-e2e7c77>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-16197 .elementor-element.elementor-element-695a624.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-16197 .elementor-element.elementor-element-695a624.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-16197 .elementor-element.elementor-element-695a624>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-16197 .elementor-element.elementor-element-695a624:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-16197 .elementor-element.elementor-element-695a624>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-16197 .elementor-element.elementor-element-695a624>.elementor-element-populated {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7rem 7rem 7rem 7rem !important;
}

.elementor-16197 .elementor-element.elementor-element-695a624>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0>a {
    font-size: 42px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -2px;
    color: #232323;
}

.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0>span.menu-toggle::before {
    background-color: #232323;
}

.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0>span.menu-toggle::after {
    background-color: #232323;
}

.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0>a:before {
    background-color: #232323;
}

.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0 {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0:hover>a {
    color: #00000099;
}

.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0:hover>a:before {
    background-color: #00000099;
}

.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0.current-menu-item>a,
.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0.current-menu-parent>a,
.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0.current-menu-ancestor>a {
    color: #00000099;
}

.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0.current-menu-item>a:before,
.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0.current-menu-parent>a:before,
.elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0.current-menu-ancestor>a:before {
    background-color: #00000099;
}

.elementor-16197 .elementor-element.elementor-element-1eb372c .litho-primary-title,
.elementor-16197 .elementor-element.elementor-element-1eb372c .litho-primary-title a {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    display: block;
}

.elementor-16197 .elementor-element.elementor-element-1eb372c .litho-primary-title {
    white-space: normal;
    margin: 0px 0px 10px 0px;
}

.elementor-16197 .elementor-element.elementor-element-1eb372c .litho-secondary-title,
.elementor-16197 .elementor-element.elementor-element-1eb372c .litho-secondary-title a {
    font-family: "Cera Pro", Sans-serif;
    font-size: 27px;
    font-weight: 500;
    color: #232323;
    -webkit-text-fill-color: initial;
}

.elementor-16197 .elementor-element.elementor-element-1eb372c .litho-secondary-title {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-16197 .elementor-element.elementor-element-1eb372c .horizontal-separator {
    height: 1px;
    width: 10%;
    display: inline-block;
    vertical-align: middle;
}

.elementor-16197 .elementor-element.elementor-element-1eb372c>.elementor-widget-container {
    margin: 25px 0px 20px 0px;
}

.elementor-16197 .elementor-element.elementor-element-0d6c748 .elementor-social-icon {
    font-size: 22px;
}

.elementor-16197 .elementor-element.elementor-element-0d6c748 li:not(:last-child) .elementor-social-icon {
    margin-right: 16px;
}

.elementor-16197 .elementor-element.elementor-element-0d6c748 .elementor-social-icon:hover {
    opacity: 0.9;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.elementor-16197 .elementor-element.elementor-element-0d6c748>.elementor-widget-container {
    padding: 0px 0px 24px 0px;
}

@media(min-width:768px) {
    .elementor-16197 .elementor-element.elementor-element-e2e7c77 {
        width: 50%;
    }
    .elementor-16197 .elementor-element.elementor-element-695a624 {
        width: 49.959%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-16197 .elementor-element.elementor-element-695a624 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-16197 .elementor-element.elementor-element-695a624>.elementor-element-populated {
        padding: 3rem 3rem 3rem 3rem !important;
    }
    .elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0>a {
        font-size: 30px;
        line-height: 38px;
    }
}

@media(max-width:767px) {
    .elementor-16197 .elementor-element.elementor-element-695a624>.elementor-element-populated {
        padding: 10px 40px 40px 40px !important;
    }
    .elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu li {
        text-align: center;
    }
    .elementor-16197 .elementor-element.elementor-element-e5d7c20 .litho-left-menu-wrap li.item-depth-0>a {
        font-size: 42px;
        line-height: 20px;
    }
    .elementor-16197 .elementor-element.elementor-element-e5d7c20>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-16197 .elementor-element.elementor-element-1eb372c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-16197 .elementor-element.elementor-element-0d6c748 {
        text-align: center;
    }
}

/* Start custom CSS for litho-heading, class: .elementor-element-1eb372c */

.elementor-16197 .elementor-element.elementor-element-1eb372c {
    display: block !important;
    max-height: 190px;
}

@media (max-width: 768px) {
    .elementor-16197 .elementor-element.elementor-element-1eb372c {
        position: absolute;
        bottom: 110px;
        left: 0;
        text-align: center;
    }
    .litho-left-menu-wrap>div>div {
        align-self: auto !important;
        padding-top: 30px !important;
    }
}

/* End custom CSS */

/* Start custom CSS for litho-social-icons, class: .elementor-element-0d6c748 */

.elementor-16197 .elementor-element.elementor-element-0d6c748 {
    max-height: 30px;
}

@media(max-width:1024px) {
    .elementor-16197 .elementor-element.elementor-element-0d6c748 {
        position: absolute !important;
        right: -34px;
        bottom: -70px;
    }
}

@media(max-width:728px) {
    .elementor-16197 .elementor-element.elementor-element-0d6c748 {
        position: absolute !important;
        right: 0px;
        bottom: 40px;
    }
}

/* End custom CSS */

/* Start custom CSS for litho-heading, class: .elementor-element-1eb372c */

.elementor-16197 .elementor-element.elementor-element-1eb372c {
    display: block !important;
    max-height: 190px;
}

@media (max-width: 768px) {
    .elementor-16197 .elementor-element.elementor-element-1eb372c {
        position: absolute;
        bottom: 110px;
        left: 0;
        text-align: center;
    }
    .litho-left-menu-wrap>div>div {
        align-self: auto !important;
        padding-top: 30px !important;
    }
}

/* End custom CSS */

/* Start custom CSS for litho-social-icons, class: .elementor-element-0d6c748 */

.elementor-16197 .elementor-element.elementor-element-0d6c748 {
    max-height: 30px;
}

@media(max-width:1024px) {
    .elementor-16197 .elementor-element.elementor-element-0d6c748 {
        position: absolute !important;
        right: -34px;
        bottom: -70px;
    }
}

@media(max-width:728px) {
    .elementor-16197 .elementor-element.elementor-element-0d6c748 {
        position: absolute !important;
        right: 0px;
        bottom: 40px;
    }
}

/* End custom CSS */

/* Start custom CSS for column, class: .elementor-element-695a624 */

@media (max-width: 768px) {
    .hamburger-menu-modern .litho-left-menu-wrap {
        height: auto !important;
    }
    .elementor-16197 .elementor-element.elementor-element-695a624 .mCSB_scrollTools {
        display: none !important;
    }
    body .elementor-section .hamburger-menu-wrapper .hamburger-menu .full-screen>div {
        padding-top: 25px !important;
        padding: 50px;
        overflow-y: auto;
        height: 100vh;
    }
}

/* End custom CSS */

@media (max-width:1400px) and (min-width:1025px) {
    .elementor-16197 .elementor-element.elementor-element-7f448f2>.elementor-container>.elementor-row {
        flex-wrap: wrap;
    }
}

@media (max-width:1400px) and (min-width:1025px) {
    .elementor-16197 .elementor-element.elementor-element-e2e7c77 {
        width: 40% !important;
    }
}

@media (max-width:1400px) and (min-width:1025px) {
    .elementor-16197 .elementor-element.elementor-element-695a624 {
        width: 60% !important;
    }
}